.m-left20{
   margin-left: 20px; 
}
.m-right20{
    margin-right: 20px;
}


.m-left10{
    margin-left: 10px; 
 }
 .m-right10{
     margin-right: 10px;
 }

.m-bottom20{
    margin-bottom: 20px;
}


.m-bottom10{
    margin-bottom: 10px;
}


.m-top20{
    margin-top: 20px;
}
.w-200{
    width: 200px;
}
.w-100{
    width: 100px;
}
.w100{
    width: 100%;
}